[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "triversity"]
	path = triversity
	url = https://github.com/lamarche-perrin/triversity
